            .container {
                display: inline-grid;
                grid-template-columns: repeat(4, 1fr);
                column-gap: 0.5px;
            }
            .index {
                background-color:#787c82;
            }
            
            .good {
                display: inline;
            }
            
            .good img {
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                position: relative;
                width: 200px;
                height: 200px;
                overflow: hidden;
                border-radius: 50%;
            }
            
            .log {
                display: grid;
                justify-content: center;
                align-content: center;
                background-color:#00131c;
            }
            
            .log .login {
                display: grid;
                align-items: center;
                border: 3px solid green;
                margin: 250px;
                padding: 15px;
                row-gap: 8px;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
            }
            .log .login .user label {
                 color:red;
            }
            .log .login .pass label {
                 color:red;
            }
            
            .reg {
                display: grid;
                justify-content: center;
                align-content: center;
                background-color:#4a3200;
            }
            
            .reg .reg1 {
                display: grid;
                border: 3px solid green;
                margin: 250px;
                padding: 15px;
                row-gap: 8px;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
            }
            .calculator { 
                background:linear-gradient(45deg,#2c3338,#a7aaad);
            }
            
            .calc {
                /* display: grid;*/
                border: 3px solid green;
                margin: 250px 250px 500px 500px;
                padding: 15px;
            }
            
            #c4 .contact {
                display: grid;
                row-gap: 8px;
            }
